{% extends "template.njk" %}


 <title>Learning Web Development</title>


{% block content%}
<!---------------------- Content -------------------!-->
<div class="content">

  <div class="aboutme">
    <img class="mypic" src="/imgs/vitorpic.png" alt="mypic">
    <div class="myinfo">
      <p> <span style="color: rgb(255, 197, 70); font-size: 30px;">Name:</span> Vitor Teixeira</p>
      <p> <span style="color: rgb(255, 197, 70); font-size: 30px;">Nationality:</span> Portuguese</p>
      <p> <span style="color: rgb(255, 197, 70); font-size: 30px;">Age:</span> 27</p>
      <p> <span style="color: rgb(255, 197, 70); font-size: 30px;">Lives in:</span> Liverpool, UK</p>
      <p> <span style="color: rgb(255, 197, 70); font-size: 30px;">Front-end Developer</span> (in learning phase)</p>
    </div>
  </div>

  <img id="blueline" src="/imgs/blueline.png" width=800 alt="sepp">
    
    <div class="box1">
      <p>Hi, I hope you are enjoying the website so far, I know I did enjoy to learn and practice web development and be able to create this simple website.</p>
      <p>I got my first computer when I was 10 years old and right away I was hooked to this amazing science. I have played computer games since I've had my first PC so I grew up always interacting with technology and it amazed me how these bits of plastic, metal and wires could do so many things, even at the time.</p>
      <p>Once I got into high school in Portugal I decided to pursue my studies towards programming and went from a programming course that my school had just announced. Unfortunately I only did the first out of 3 years as due to difficulties me and my family had to move to the United Kingdom when I was 16. I really loved learning about computer components, programming, networks and such and I was so gutted that I had to move country</p>
      <p>After settling in Llandudno, North Wales, I went to colege and asked to be put in a course that would best relate to the previous course I was doing back in Portugal. I ended up studying OCR Level 2 National Certificate in ICT, this was just basic Adobe and Office applications.</p>
      <p>I didnt quite get the course I wanted so I started to look for work instead of pursue better studies, what a silly idea...</p>
    </div>

<h2 id="tenyrs">10 YEARS LATER</h2>

<div class="box1">
      <p>(and a lot of horrible jobs later too) I decided to learn Web Development through the incredible amount of free content and education that people like all those awesome developers put out there, accessible to us.</p>
      <p>In this website I have only touched the tip of the ice berg when it comes to the vast amount of tools, coding, languages and all kinds of things that you can do as a Web Developer, I am definitely eager to pursue this career and I'm having so much fun!</p>
      <p>Again, thank you for checking out my website and please be patient, I'm still new at this. :)</p>

</div>

</div>

<script src="scripts.js"></script>
{% endblock %}